.template {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.method {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.method label {
  box-sizing: border-box;
  border: 1px solid #222222;
  padding: 5px 10px;
  cursor: pointer;
}

.method input {
  text-wrap: nowrap;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.weeks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  gap: 5px;
}

.weeks-default {
  border: 2px solid #dddddd;
  background-color: #ffffff;
  color: #666666;
  outline: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.weeks-active {
  border: 2px solid #339afa;
  background-color: #f4faff;
  color: #1e62a2;
}

.range {
  display: flex;
  gap: 10px;

  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    gap: 5px;
  }

  input {
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 500;
  }
}
